<div class="wrapper add-project">
  
  <div class="project-form__page">
    
    <h2>Projekt hinzufügen</h2>
    
    <mat-form-field>
      <label for="name">Projektname</label>
      <input matInput type="text" name="name" ngDefaultControl [(ngModel)]="name" required>
      <span id="nameError" class="input-error-message" aria-live="polite">Projectame invalid</span>
    </mat-form-field>
    
    <mat-form-field>
      <label for="capitain">Projektleiter</label>
      
      <mat-select  name="capitain" ngDefaultControl [(ngModel)]="capitain"  [(value)]="capitain" (selectionChange)="getManager(capitain)">
        <mat-option  *ngFor="let user of users" value="{{user._id}}">{{user.surname}} {{user.first_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <label for="user">User</label>
      <mat-select  name="user" ngDefaultControl [(ngModel)]="select" [(value)]="selectedUser" multiple (selectionChange)="getUser(user)">
        <mat-option  *ngFor="let user of users" value="{{user._id}}">{{user.surname}} {{user.first_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <label for="start">Startdatum</label>
      <input matInput [matDatepicker]="start"  name="start" ngDefaultControl [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
      <label for="end">Deadline</label>
      <input matInput [matDatepicker]="end"  name="end" ngDefaultControl [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
    
  </div>
  
  <div class="project-form__page offer">
    <h2>füge Positionen hinzu</h2>
    <div  [formGroup]="myForm" >
      <button (click)="addPosition()" class="add-position"><span>+</span></button>
      <div formArrayName="positions" class="positions__wrapper">
        
        <div *ngFor="let pos of postitionForm.controls; let i=index" [formGroupName]="i" class="position">
          
          <mat-form-field>
            <input matInput type="text" formControlName="name" placeholder="position">
          </mat-form-field>
          <mat-form-field> 
            <input matInput type="number" formControlName="total_time_offered" >
          </mat-form-field>
          <button (click)="deletePostition(i)" class="delete-postition">Löschen</button>
        </div>
      </div>
      
    </div>
    
  </div>
  
  <div class="project-form__page">
    
    <mat-form-field>
      <input matInput type="text" placeholder="Briefing-titel" name="titel" ngDefaultControl [(ngModel)]="title">
    </mat-form-field>
    
    <mat-form-field>
      <textarea matInput type="textarea" matTextareaAutosize placeholder="Briefing" name="briefing" ngDefaultControl [(ngModel)]="description">
      </textarea>
    </mat-form-field>
    
    <button class="save" (click)="onSave()" >Speichern</button>
    
  </div>
  
</div>


<div class="control">
  <button class="prev hidden" (click)="getPreviosPage()"><div class="arrow --prev"></div></button>
  <button class="next" (click)="getNextPage()"><div class="arrow"></div></button>
</div>

<app-dashboard></app-dashboard>