@import '../styles/colors.scss';
.all__ressource-header{
    width: 100vw;
    height: 5vh;
    background-color: darken($blue, 20);
    display: grid;
    grid-template-columns: 10% 80%; 

    div{
        display: flex;
        align-items: center;
    }
}
.all__ressource-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    
}

.all__ressource{
    height: 95vh;
    transition: all 0.5s;
    position: relative;
    display: flex;
    &.mon{
        background-color: $yellow;
    }
    &.di{
        background-color: $fuchsia;
    }
    &.mi{
        background-color: $bordeux;
    }
    &.do{
        background-color: $violett;
    }
    &.fr{
        background-color: $blue;
    }

    h2{
        writing-mode: vertical-rl;
        margin: 0.3rem;
        width: auto;
    }
}
.ressource__container {
    margin-left: 1rem;
    margin-right: 3rem;
    width: 100%;
}
.res {
    padding: 1rem;
    margin: 1rem 0.5rem;
    background-color: gray;
}
.add {
    background: transparent;
    background-image: url('../../assets/images/plus.svg');
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    margin: 0.5rem;
    }
.shrink{
    width: 5vw;
    
    .res{
        opacity: 0;
    }
    .add {
        background: transparent;
        background-image: url('../../assets/images/plus.svg');
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        }
}

.grow{
    transition: all 0.5s;
    width: 80vw;
    .res{
        opacity: 1;
    }

    .add {
        background: transparent;
        background-image: url('../../assets/images/minus.svg');
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        }
}
