<div class="all__ressource-header">
    <div class="all__ressource-header-back">
        <a href="/ressource">Go Back</a>
    </div>
    <div clas="all__ressource-header-time">
        {{monday}} - {{friday}}
    </div>
    
</div>
<div class="all__ressource-wrapper">
    <div class="all__ressource mon">
        <h2>Monday</h2>

        <div class="res">
            <strong>HSR - Webstie</strong><br>
            <span>Max Muster</span><br>
            <span>4h</span>
        </div>
        <div class="res">
                <span>HSR - Webstie</span>
                <span>4h</span>
            </div>
            <div class="res">
                    <span>HSR - Webstie</span>
                    <span>4h</span>
                </div>
    </div>
    <div class="all__ressource di">
        <h2>Thuesday</h2> 
        <div class="res">
                <span>HSR - Webstie</span>
                <span>4h</span>
            </div>
            <div class="res">
                    <span>HSR - Webstie</span>
                    <span>4h</span>
                </div>
    </div>
    <div class="all__ressource mi">
        <h2>Wednesday</h2>
    </div>
    <div class="all__ressource do">
        <h2>Thursday</h2>
    </div>
    <div class="all__ressource fr">
        <h2>Friday</h2>
    </div>
</div>
