<div class="all__ressource-header">
    <div class="all__ressource-header-back">
        <a class="button button--back" routerLink="/">Zum Dashboard</a>
    </div>
    <h1 class="sr-only">Alle Ressourcen</h1>
    <div class="all__ressource-header-time">
        {{monday}} - {{friday}}
    </div>
    <div class="all__ressource-header-add" routerLink="/ressource">
        + Ressource
    </div>
</div>
<main class="all__ressource-wrapper">
    <section class="all__ressource all__ressource--day-nr-{{dayNr}}" *ngFor="let dayNr of [0, 1, 2, 3, 4]">
      <h2>{{dayNames[dayNr]}}</h2> <button class="add" (click)="showDay($event)"></button>
      <div class="ressource__container">
          <div *ngFor="let res of weekRes">
              <div *ngFor="let d of res.days; let i = index">
                <div  class="res" *ngIf="firstDay + dayNr === res.days[i]">
                    <strong>{{res.project.name}}</strong><br>
                    <span>{{res.total_time_expected}}h eingeplant für {{res.assigned_user.first_name}} {{res.assigned_user.surname}}</span><br>   
                    <span>{{ res.start | dateFormat }} - {{ res.stop | dateFormat }} </span>                               
                    <button class="button res__edit-button" routerLink="/ressource/edit/{{res._id}}" title="Ressource bearbeiten">Ressource bearbeiten</button>
                </div>
              </div>
          </div>
      </div>
    </section>
</main>
