@import '../../../styles/colors.scss';
@import '../../../styles/variable.scss';

$day-colors: $yellow $fuchsia $bordeux $violett $blue;

.all__ressource-header{
    width: 100vw;
    height: 7vh;
    background-color: darken($blue, 20);
    display: grid;
    grid-template-columns: auto auto 50% auto;
    
    div{
        display: flex;
        align-items: center;
    }
}

.all__ressource-header-back {
  background-color: darken($blue, 40);
}

.all__ressource-header-add {
    cursor: pointer;
}
.all__ressource-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.all__ressource{
    height: 93vh;
    transition: all 0.5s;
    position: relative;
    display: flex;

    @each $current-color in $day-colors {
      $i: index($day-colors, $current-color) - 1;
      &--day-nr-#{$i} {
        background-color: $current-color;
      }
    }
    
    &-header-back {
        margin-right: 1rem;
        white-space: nowrap;
    }
    
    h2{
        writing-mode: vertical-rl;
        margin: 0.3rem;
        width: auto;
        
        @media (max-width: $medium) { 
            font-size: 1rem;
        }
    }
}
.ressource__container {
    margin-left: 1rem;
    margin-right: 3rem;
    width: 100%;
    height: 95vh;
    overflow: scroll;
}
.res {
    padding: 1rem;
    margin: 1rem 0.5rem;
    background-color: gray;
    position: relative;
    box-sizing: border-box;
    line-height: 1.5em;
    
    &__edit-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2.5rem;
        overflow: hidden;
        color: transparent;
        background-color: rgba(0, 0, 0, 0.25);
        padding: 0;
        background-image: url(/assets/icons/icon-edit--white.svg);
        background-repeat: no-repeat;
        background-position: center;
        opacity: .75;
        
        &:hover,
        &:focus:not(:hover) {
            opacity: 1;
        }
    }
}

@each $current-color in $day-colors {
    $i: index($day-colors, $current-color) - 1;
    .all__ressource--day-nr-#{$i} .res {
        background-color: darken($current-color, 20);
    }
}

.add {
    background: transparent;
    background-image: url('../../../../assets/images/plus.svg');
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    margin: 0.5rem;
}
.shrink{
    width: 5vw;
    
    .res{
        opacity: 0;
    }
    .add {
        background: transparent;
        background-image: url('../../../../assets/images/plus.svg');
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

.grow{
    transition: all 0.5s;
    width: 80vw;
    .res{
        opacity: 1;
    }
    
    .add {
        background: transparent;
        background-image: url('../../../../assets/images/minus.svg');
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

.button--back {
  color: inherit;
  padding: 0rem;
  text-decoration: none;
  padding: 1.5rem 1rem;
  text-align: center;
  width: 100%;
}

.all__ressource-header-time {
    @media (max-width: $medium) { 
        font-size: 0.8rem;
    }
}

@media (max-width: $medium) { 
    .all__ressource-header-back{
        display: none;
    }
    .all__ressource-header {
        display: flex;
        height: 3.5rem;
    }
    .all__ressource-header-time {
        margin-left: 4rem;
    }
    .all__ressource-wrapper[_ngcontent-c2] {
        
        display: block;
    }
    .button--back{
        display: none;
    }
    .all__ressource{
        width: 100vw;
        
        h2 {
            writing-mode: horizontal-tb;
            width: 100%;
            height: 2rem;
        }
    }
    .shrink {
        height: 10vh;
    }
    .grow {
        height: 60vh;
    }
    
    .add {
        position: absolute;
        right: 0;
        top: 0;
    }
}
