<div class="wrapper">
  <div class="all__todo-wrapper">
    <div class="all__todo proj grow">
      <h2>Welches Projekt</h2> <button class="add" (click)="showDay($event)"></button>
      <div class="todo__container">
        <mat-form-field>
          <mat-select placeholder="Job" [(value)]="selectedJob" (selectionChange)="bleh(selectedJob)">
            <mat-option value="{{p._id}}" *ngFor="let p of data">{{p.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
      
    </div>
    <div class="all__todo start shrink">
      <h2>Erstellt</h2> <button class="add" (click)="showDay($event)"></button>
      <div class="todo__container">
        <div class="res"  *ngFor="let p of positions">
         
            <strong>{{p}}</strong><br>
            <span>Max Muster</span><br>
       
        </div>
      </div>
    </div>
    
    
    <div class="all__todo work shrink">
      <h2>In Arbeit</h2> 
      <button class="add" (click)="showDay($event)"></button>
      <div class="todo__container">
        
        <div class="res" (click)="openDialog()">
          <span>HSR - Webstie</span>
          <span>4h</span>
        </div>
        <div class="res">
          <span>HSR - Webstie</span>
          <span>4h</span>
        </div>
      </div>
    </div>
    <div class="all__todo test shrink">
      <h2>Ready for test</h2>
      <button class="add" (click)="showDay($event)"></button>
      <div class="todo__container">
        <div class="res">
          <strong>HSR - Webstie</strong><br>
          <span>Max Muster</span><br>
          <span>4h</span>
        </div>
        
      </div>
    </div>
    <div class="all__todo done shrink">
      <h2>Done</h2>
      <button class="add" (click)="showDay($event)"></button>
      <div class="todo__container">
        <div class="res">
          <strong>HSR - Webstie</strong><br>
          <span>Max Muster</span><br>
          <span>4h</span>
        </div>
        <div class="res">
          <span>HSR - Webstie</span>
          <span>4h</span>
        </div>
        <div class="res">
          <span>HSR - Webstie</span>
          <span>4h</span>
        </div>
      </div>
    </div>
  </div>
</div> 
  
  <app-dashboard></app-dashboard>
  
  
  
  