<h1 class="sr-only">Todos</h1>
<main class="wrapper">
  <div class="all__todo-wrapper">
    <div class="all__todo proj grow">
      <h2>Wähle das Projekt</h2> 
      <button class="add" (click)="showDay($event)"></button>
      <div class="todo__container">
        <mat-form-field>
          <mat-select placeholder="Job" [(value)]="selectedJob" (selectionChange)="bleh(selectedJob)">
            <mat-option value="{{p._id}}" *ngFor="let p of data">{{p.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
      
    </div>
    <section class="all__todo start shrink">
      <h2>Erstellt</h2> <button class="add" (click)="showDay($event)"></button>
      <div class="todo__container">
        <div  *ngFor="let p of proj">
          <div  class="res" *ngIf="p.status == 0">
            <p>{{p.briefing.title}}</p><br>
            <app-detail-todo-button [parentData]="p._id" ></app-detail-todo-button>
          </div>
        </div>

      </div>
    </section>
    
    
    <section class="all__todo work shrink">
      <h2>In Arbeit</h2> 
      <button class="add" (click)="showDay($event)"></button>
      <div class="todo__container">
        
        <div  *ngFor="let p of proj">
          <div  class="res" *ngIf="p.status == 1">
            
            <p>{{p.briefing.title}}</p><br>
            <app-detail-todo-button [parentData]="p._id" ></app-detail-todo-button>
          </div>
          
        </div>
      </div>
    </section>
    <section class="all__todo test shrink">
      <h2>Ready for test</h2>
      <button class="add" (click)="showDay($event)"></button>
      <div class="todo__container">
        <div  *ngFor="let p of proj">
          <div  class="res" *ngIf="p.status == 2">
            
            <p>{{p.briefing.title}}</p><br>
            <app-detail-todo-button [parentData]="p._id" ></app-detail-todo-button>
          </div>
          
        </div>
        
      </div>
    </section>
    <section class="all__todo done shrink">
      <h2>Done</h2>
      <button class="add" (click)="showDay($event)"></button>
      <div class="todo__container">
        <div  *ngFor="let p of proj">
          <div  class="res" *ngIf="p.status == 3">
            
            <p>{{p.briefing.title}}</p><br>
            <app-detail-todo-button [parentData]="p._id" ></app-detail-todo-button>
          </div>
          
        </div>
      </div>
    </section>
  </div>
</main> 

<app-dashboard></app-dashboard>



