@import '../../styles/colors.scss';
@import '../../styles/variable.scss';
.wrapper{
    position: absolute;
     grid-template-columns: repeat(100, calc(100vw - 300px));
     transition: transform 0.5s ease-out;
     height: 100vh;
     background: $bordeux;
 }
 .project{
     height: 100vh;
     flex: 2;
     padding: 0 1rem 0 1rem;
     max-width: 100%;
     display: flex;
     flex-direction: column;
 
    hr{
        width: 100%;
    }

    h2{
        margin-bottom: 0;
        font-size: 35px;
    }
    h3{
        font-size: 22px;
        margin: 2rem 0 2rem 0;
    }
    .date{
        font-size: 14px;
        margin-top: 0.5rem;

    }
}
.overflow-wrapper{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    margin: auto;
    padding-right: 1rem;
}

.users__content,
.positions__content,
.briefing__content {
    display: block;
}
.project__briefing,
.project__users,
.project__positions {
    position: relative;
}

.users__wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;

  
}

.progress-bar{
    height: 1rem;
    background: seashell;
    width: 90%;
    margin: 0 auto;
}
.progress-bar__progressing{
    height: 1rem;
    background: $violett;
}

.progress-bar__wrapper{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 0.5rem;

    p{
        hyphens: auto;
    }

    span{
        margin-left: 0.5rem;
    }
}
app-update-button {
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
section {
    background: $bordeux;
}
@media (max-width: $medium) { 
   .wrapper {
    grid-template-columns: repeat(100,100vw);
   }
}
.showelement {
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 0;
}

.close__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.open__content {
    max-height: 100vh;
    transition: all 0.5s;

}
.showelement.closed {
    transform: rotate(-180deg);
    transition: all 0.5s;
}
.showelement.open {
    transform: rotate(-45deg);
    transition: all 0.5s;
}