<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a class="navigation__link" routerLink="/home" routerLinkActive="navigation__link--active">Dashboard</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" routerLink="/project" routerLinkActive="navigation__link--active">Projekte</a>
    </li>
    <li *ngIf="isAdmin">
      <a class="navigation__link" routerLink="/users" routerLinkActive="navigation__link--active">User</a>
      <ul class="navigation__sub">
        <li *ngIf="isAdmin">
          <a class="navigation__link" routerLink="/users/add" routerLinkActive="navigation__link--active">User hinzufügen</a>
        </li>
      </ul>
    </li>
    
    <li *ngIf="isAdmin">
      <a class="navigation__link" routerLink="/ressource" routerLinkActive="navigation__link--active">Ressourcen hinzufügen</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" routerLink="/todo" routerLinkActive="navigation__link--active">todos</a>
      <ul class="navigation__sub">
        <li *ngIf="isAdmin">
          <a class="navigation__link" routerLink="/todo/add" routerLinkActive="navigation__link--active">Todo hinzufügen</a>
        </li>
      </ul>
    </li>
    
  </ul>
</nav>
