<div class="add-user__wrapper">
  
    <div clas="form-bindings">
      <mat-form-field>
        <label for="first_name">Name</label>
        <input matInput type="text" name="first_name" ngDefaultControl [(ngModel)]="first_name" required>
        <span id="nameError" class="input-error-message" aria-live="polite">Name invalid</span>
      </mat-form-field>
      <mat-form-field>
        <label for="surname">Nachname</label>
        <input matInput type="text" name="surname" ngDefaultControl [(ngModel)]="surname" required>
        <span id="nameError" class="input-error-message" aria-live="polite">Surname invalid</span>
      </mat-form-field>
    </div>
    
    <mat-form-field>
      <label for="email">E-Mail</label>
      <input matInput type="text" name="email" ngDefaultControl [(ngModel)]="email" required>
      <span id="nameError" class="input-error-message" aria-live="polite">E-Mail invalid</span>
    </mat-form-field>
    <mat-form-field>
      <label for="password">Passwort</label>
      <input matInput type="text" name="pasword" ngDefaultControl [(ngModel)]="password" required>
      <span id="nameError" class="input-error-message" aria-live="polite">password invalid</span>
    </mat-form-field>
    
    <div class="avatarList">
      <div class="avatar"  *ngFor="let avatar of avatars">
        <img src="{{avatar.url}}"  name="avatar._id" ngDefaultControl [(ngModel)]="avatar._id"  (click)="chooseAvatar(avatar._id)">
      </div>
      
    </div>
    <button mat-button (click)="onSave()">Save</button>
</div>
<app-dashboard></app-dashboard>