@import '../../styles/colors.scss';

.add-user__wrapper{
    grid-row: 1 / 3;
    grid-column: 1 / span 2;
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: #EDBF85;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field{
       margin:1rem;
       width: 80%;
    }
 
}

.avatarList{
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
}
.avatar{
    margin: 0.5rem;
    cursor: pointer;
    img{
        width: 5rem;
        height: 5rem;
        &:hover,
        &:focus,
        &:active {
            transform: scale(1.1);
        }
    }
}

.button--add-user {
  background-color: darken($yellow, 20);
  color: white;
}

.add-user__wrapper {
  padding: 1rem;
  box-sizing: border-box;
}
