@import '../styles/colors.scss';
.wrapper{
    position: absolute;
     grid-template-columns: 50% 50%;
     transition: transform 0.5s ease-out;
 }
.user{
    height: 50vh;
    border-bottom: 3px solid white;

    p {
        word-break: break-all;
        width: 100%;
        text-align: center;
    
    }
}

.user:nth-child(odd){
    border-right: 3px solid white;
}
.user__container{
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        width: auto;
        text-align: center;
    }
    p{
        font-size: 14px;
    }
}
.control{
    position: absolute;
    bottom: 0;
}