@import '../../styles/colors.scss';
.todo__detail-content{
    margin-bottom: 3rem;
}

.button--update {
    margin-top: 3rem;
    background-color: darken($blue, $amount: 20);
    width: 100%;
    color: white;
}
.mat-dialog-container.mat-dialog-container{
    color: white;
}