@import '../../styles/colors.scss';
.todo__detail-content{
    margin-bottom: 3rem;
}

.button--update {
    margin-top: 3rem;
    background-color: $fuchsia;
    width: 100%;
}
.mat-dialog-container.mat-dialog-container{
    color: white;
}