
<div class="todo__detail">
    <div class="todo__detail-content">
        <h3>{{todo?.briefing?.title}}</h3>
        <p>{{todo?.briefing?.description}}</p>
    </div>
    
    <mat-select placeholder="Update Status" [(ngModel)]="selectStatus">
        <mat-option value="0" >Erstellt</mat-option>
        <mat-option value="1" >In Arbeit</mat-option>
        <mat-option value="2" >Ready for Test</mat-option>
        <mat-option value="3" >Geschlossen</mat-option>
    </mat-select> 
    <button class="button button--update" (click)="updateState()">Update Todo</button>
</div>


