@import '../../styles/colors.scss';
.avatar-edit {
  display: flex;
  flex-wrap: wrap;
  max-width: 25rem;
}
.avatar-edit__img {
    cursor: pointer;
    transition: transform .2s;
    transform: scale(1);
}

.avatar-edit__img-wrap {
  margin: 0.5rem;
}

.avatar-edit__img {
  width: 4rem;
  height: 4rem;
}
.avatar-edit__img:hover,
.avatar-edit__img:focus {
  transform: scale(1.3);
}
.avatar-edit__button {
  width: 100%;
}

.user__avatar {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
}
.user__password {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;
  }
}

.error__message{
  color: $fuchsia;
}
.avatar-edit__button {
  background: $yellow;
  color: white;
}