.avatar-edit {
  display: flex;
  flex-wrap: wrap;
}
.avatar-edit__img {
    cursor: pointer;
    transition: transform .2s;
    transform: scale(1);
}

.avatar-edit__img-wrap {
  width: 25%;
  box-sizing: border-box;
  padding: 0 .5rem;
  margin-bottom: -3rem;
}

.avatar-edit__img {
  width: 100%;
  height: auto;
  display: block;
}
.avatar-edit__img:hover,
.avatar-edit__img:focus {
  transform: scale(1.3);
}
.avatar-edit__button {
  width: 100%;
}
