@import '../../../styles/colors.scss';
@import '../../../styles/variable.scss';
.user {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  /* margin-top: 1rem; */
  background-color: rgba(0, 0, 0, 0.13);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.user-avatar-wrapper {
  padding: 0;
}

.user-avatar {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-size: contain;
  flex: 2;
  background-repeat: no-repeat;
  position: relative;
}

.user-avatar:hover::after {
  opacity: 0;
}
.user-avatar:hover::before {
  transform: translateY(0%);
  opacity: 1;
}

.user-name {
  padding: 0 0 0 30px;
  font-size: 1rem;
  line-height: 1.5em;
}

.button-logout {
  background-color: #707070;
  color: $white;
  width: 100%;
  background-image: url(/assets/icons/logout.svg);
  background-size: auto 60%;
  background-repeat: no-repeat;
  font-size: 1rem;
  background-position: right 30px center;
  padding: 1rem;
  height: auto;
}

.button-logout__text {
  opacity: 0;
  transition: all .25s;
}

.button-logout:hover .button-logout__text,
.button-logout:focus .button-logout__text {
  opacity: 1;
}
.user__edit {
  width: 1.5rem;
  height: 1.5rem;
  background: url('../../../../assets/icons/user.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.5rem;
  cursor: pointer;
}