.user{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 1rem;
}
.user-avatar-wrapper{
    padding: 0.2rem;
}
.user-avatar{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    background-size: contain;
    flex: 2;
    background-repeat: no-repeat;
    cursor: pointer;
}
.user-name{
    flex:2;
}
