@import '../styles/colors.scss';
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0 1fr 1fr;
    // width: calc(100vw - 300px);
    background: $fuchsia;
    grid-gap: 2rem;
    height: 100vh;
    
}
.ressource{
    padding: 0 2.5rem;
    
    .ressource__item{
        background: darken($fuchsia, 20);
        max-width: 20rem;
        padding: 1rem;
        margin: 0.5rem 0;
        
        p{
            margin: 0;
            margin-top: 0.1rem;
        }
    }
}
.ressource__wrapper{
    display: flex;
    flex-direction: column;
}
app-working-time {
    padding: 1rem 2.5rem;
}
