@import '../styles/colors.scss';
.wrapper {
    background: $fuchsia;
    grid-gap: 1rem 2rem;
    height: 100vh;
    grid-template-areas: "time exp" "res exp";
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    grid-template-rows: 0fr auto 0;
}
.ressource{
    padding: 0 2.5rem 2.5rem;
    grid-area: res;
    
    .ressource__item {
        background: darken($fuchsia, 20);
        max-width: 20rem;
        padding: 1rem;
        margin: 0.5rem 0;
        
        p {
            margin: 0;
            margin-top: 0.1rem;
        }
    }
}
.ressource__wrapper {
    display: flex;
    flex-direction: column;
}
app-working-time {
    padding: 1rem 2.5rem;
    display: block;
}
