@import '../../../styles/colors.scss';
@import '../../../styles/variable.scss';

.edit-project {
  width: calc(100vw - 300px);
  height: 100vh;
  background: $violett;
  display: grid;
  grid-template-rows: auto 1fr;

  .mat-input-element {
    caret-color: white;
  }

  .button {
    color: white;
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    
    &:hover,
    &:focus {
      outline: 1px solid rgba(255,255,255,.5);
      background-color: rgba(255,255,255,0.35);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    overflow: auto;
    padding-right: 1rem;
  }
  
  &__label {
    font-weight: bold;
    margin-bottom: .75rem;
    display: block;
  }
  
  &__dates {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  
  &__form-field {
    width: 100%;
  }
  
  &__fieldset {
    border: 2px solid rgba(0, 0, 0, 0.35);
    padding: 1rem 1.5em 1.5rem;
    margin-bottom: 2rem;
  }
  
  &__legend {
    background-color: rgba(0, 0, 0, 0.35);
    padding: .5em 1em;
  }
  
  &__text {
    line-height: 1.5em;
  }
  
  &__position-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  
  &__position-editings {
    &--new {
      display: flex;
      align-items: center;
      padding-left: 0;
      @media (max-width: $xlarge) { 
        display: block;
      }
    }
  }
  
  &__position-editings-list {
    list-style: none;
    margin: 0;
    padding: 0;
    
    .button {
      width: calc(100% - .75rem);
      margin: .25rem .5rem;
      display: block;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.25);
      outline: none;
      min-width: 13rem;
      height: auto;
      min-height: 3rem;
      @media (max-width: $xlarge) { 
        margin: 0 0 1rem 0;
      }
      &--deactivate {
        background-color: $warning;
      }
      
      &--safe {
        background-color: rgba(0,0,0,0.35);
        
        &:hover,
        &:focus {
          background-color: rgba(0,0,0,0.075);
        }
      }
      
      &--danger:hover,
      &--danger:focus {
        background-color: lighten($warning, 10);
      }
    }
  }
  
  &__position-field {
    color: inherit
  }
  
  &__position {
    background-color: rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    padding: 0 0 0 1rem;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 2rem;
    transition: background-color .2s;
    @media (max-width: $xlarge) { 
      grid-template-columns: 1fr; 
    }
    &--archived {
      background-color: rgba(0, 0, 0, 0.075);
      
      &:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
    
    &--archived-toggle {
      grid-template-columns: 1fr;
      padding: 0;
      margin-top: 2rem;
      background-color: $blue;
    }
    
    &--hidden {
      display: none;
    }
    
    &--new {
      background-color: $blue;
      border-top: 0;
      margin-top: 2rem;
      padding-left: 1rem;
      padding-right: 0;
      margin-bottom: 0;
    }
  }
  
}

.text-thin {
  font-family: "Questrial", sans-serif;
  letter-spacing: 1px;
  opacity: .5;
}

h1 {
  padding-left: 1rem;
  padding-right: 1.5rem;
  max-width: 100%;
  box-sizing: border-box;
}

.bigger {
  font-size: 2rem;
  line-height: 0;
  position: relative;
  display: inline-block;
  top: .35rem;
  margin-right: .5rem;
}

.edit-project__actions {
  display: flex;
  margin-top: 0.5rem;
  
  .button {
    width: 100%;
  }
}
.button--save-project {
  flex-grow: 1;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  
}
