@import '../../../styles/colors.scss';
.time-form {
    display: flex;
    flex-direction: column;
  }
  
.example-container > * {
    width: 100%;
  }
  
.button--save-expense {
  background-color: $yellow;
  color: white;
  width: 100%;
}

h1{
  font-size: 1.5rem;
}
