@import '../../styles/colors.scss';

.todayExpenses__container {
    overflow: auto;
    height: 80vh;
    padding-bottom: 2rem;
}
h2 {
    margin-top: 2rem;
}
.todayExpenses__expense {
    padding: 0.5rem 1rem;
    background: $violett;
    margin-top: 1rem;
    width: 80%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        margin: 0.5rem 0 0.5rem;
        font-size: 12px;
    }

    &:hover {
        background: darken($violett, 5);
    }
}
.expense__info {
    display: flex;
    flex-direction: column;

    strong {
        max-width: 80%;
    }
}