@import '../../../styles/colors.scss';
.button--save-user {
  background-color: $blue;
  color: white;
  width: 100%;
}

.user-input > * {
  width: 100%;
}

.user-input--first-name {
  margin-top: 1rem;
}
