
.mobilenav__burgerbutton {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #fff;
    border-radius: 3px;
    
    z-index: 14;
    
    transform-origin: 4px 0px;
    
}

