/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Anton|Viga|Allerta');
$questrial :'Questrial', sans-serif;
$viga: 'Viga', sans-serif;
$rubik: 'Allerta', sans-serif;

// $blue: #455C7B;
// $violett: #685C79;
// $bordaux: #AC6C82;
// $fuchsia: #DA727E;
// $yellow: #FFBC67;
// $warning: #DB2955;
@import '../src/app/styles/colors.scss';
@import '../src/app/styles/variable.scss';

body{
    margin:0;
    color: white;
    font-family: $questrial;
    overflow-x: hidden;
    overflow-y: hidden;
    @media (max-width: $small) { 
        // overflow-x: auto;
        overflow-y: auto;  
    }
}

h1,h2,h3{
    font-family: $rubik;
    font-weight: normal;
    width: 100%;
    hyphens: auto;
    word-wrap: break-word;
}

app-working-time{
    flex: 2;
    padding: 0 1rem 0 1rem;
    
}
app-plan{
    background-color: #A8B7AB;
    height: 100vh;
    flex: 2;
    padding: 0 1rem 0 1rem;
}
app-todo-list{
    height: 100vh;
}
app-user{
    grid-row: 1 / 3;
    grid-column: 1 / span 2;
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: $bordeux;
}
app-dashboard{
    aside {
        background-color: $blue;
        height: 100vh;
        position: fixed;
        z-index: 2;
        right: 0;
        top:0;
        width: 300px;
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto);
        
        .mobilenav__open &{
            transform: translateX(0vw);
            transition: transform 1s;
        }
        .mobilenav__close &{
            transform: translateX(100vw);
            transition: transform 1s;
        }
    
    }
    
}

@media (max-width: $medium) { 
    app-dashboard aside{
        width: 100vw;
        transform: translateX(100vw);
        z-index: 12;
        
    }
}

app-time{
    position: relative;
}

button + button {
    margin-left: .25em;
}
mat-form-field[floatlabel="never"] span {
    color: #6e6e6e;
}

button {
    padding: 0.5rem 1rem;
    height: 3rem;
    border: none;
    font-weight: bold;
    // text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.colored-button {
    color: white;
    background-color: $fuchsia;
    font-size: 14px;
    letter-spacing: .05em;
    transition: all .2s;
}
.colored-button:hover,
.colored-button:focus {
    background-color: darken($fuchsia, 3%);
}
.mat-datepicker-toggle-default-icon {
    fill: #000;
}



.cdk-global-overlay-wrapper{
    position: absolute;
    top:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    // display: flex;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
}
mat-dialog-container.mat-dialog-container{
    background-color: $violett;
    padding: 2rem;
    min-width: 25rem;
    max-height: 80vh;
    color: white;
}
app-login{
    width: 100%;
    height: 100vh;
}
app-project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
app-project-overview{
    grid-row: 1 / 100;
    grid-column: 1 / span 2;
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: $bordeux;
}

app-user{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}
app-add-resouce{
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    background-color: $bordeux;
    height: 100vh;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    width: calc(100vw - 300px);
}
@media (max-width: $medium) { 
    .wrapper{
        width: 100vw;
        z-index: 10;
    }
}

input{
    padding: 1 0 0;
}

input.ng-touched:invalid + .input-error-message{
    display: block;
    position: absolute;
    bottom: 0.5rem;
    color: $warning;
    
}

input.ng-untouched + .input-error-message{
    display: none;
}

input.ng-touched:invalid:focus + .input-error-message{
    display: none;
}
input:valid + .input-error-message{
    display: none;
}

.control{
    position: relative;
    width: calc(100vw - 300px);
    z-index: 11;
    @media (max-width: $medium) { 
        width: 100vw;
    }
}
.prev,.next, .upside, .down{
    position: fixed;
    
    background: none;
    padding: 0.2rem;
    outline: none;
    cursor: pointer;
    opacity: 1;
    
    
    
    .arrow{
        background-image: url('./assets/images/back.svg');
        background-size: contain;
        width: 2rem;
        height: 2rem;
        transform: scale(1);
        
        transition: transform 0.2s;
        
        &:hover{
            transform: scale(1.3);
            transition: transform 0.2s;
        }
        @media (max-width: $medium) { 
            width: 1rem;
            height: 1rem;
        }
        
    }
    
    &.hidden{
        .arrow{
            display: none;
        }    
    }
    &.transparent{
        opacity: 0.5;
    }
}
.prev{
    left:0;
    top: 50%;
    
}
.next{
    right: 300px;
    transform: rotate(180deg);
    top: 50%;
    @media (max-width: $medium) { 
        right: 0;
    }
}
.upside{
    position: absolute;
    bottom:0;
    left: 45%;
}
.down{
    position: absolute;
    bottom: 0;
    left: 55%;
    transform: rotate(-90deg);
}
.upside{
    bottom: 0;
    left:45%;
    transform: rotate(90deg);
}

.cdk-global-overlay-wrapper{
    display: flex;
}

app-detail-todo-button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    button{
        height: 100%;
        cursor: pointer;
        background: transparent;
        color: white;
        word-wrap: break-word;
    }
    
}

mat-form-field{
    span{
        color: white;
    }
}
app-update-project{
    display: flex;
    flex-direction: column;

    button {
        background-color: $yellow;
    }
}

app-mobile-nav {
    position: absolute;
    z-index: 100;
    padding: 1rem;
    display: none;
    @media (max-width: $medium) { 
        display: block;
    }

}

.sr-only {
    height: 0px;
    overflow: hidden;
    width: 0;
    margin: 0;
}



.overflow-wrapper::-webkit-scrollbar-button{ height: 13px; border-radius: 0px; background-color:transparent; } ::-webkit-scrollbar-button:hover{ background-color: #AAA; } ::-webkit-scrollbar-thumb{ background-color: #CCC; } ::-webkit-scrollbar-thumb:hover{ background-color: #CCC; } ::-webkit-scrollbar-track{ background-color: transparent;  } ::-webkit-scrollbar-track:hover{ background-color: #A8B7AB; } ::-webkit-scrollbar{ width: 10px; }

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: white;
}
.mat-datepicker-toggle-default-icon {
    fill: white;
}
.mat-form-field.mat-focused .mat-form-field-label{
    color: $yellow;
}
.mat-form-field.mat-focused {
    .mat-form-field-appearance-legacy .mat-form-field-underline{
        background-color: $yellow;
    }
}
.mat-focused .mat-form-field-underline .mat-form-field-ripple{ background: $yellow; }
.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color: $yellow;
}
.mat-datepicker-content {
    background-color: $blue;
}
.mat-calendar-body-cell-content,
.mat-calendar-body-label,
.mat-datepicker-content .mat-calendar-next-button, 
.mat-datepicker-content .mat-calendar-previous-button, 
.mat-datepicker-toggle,
.mat-calendar-period-button {
    color: white;
}
.mat-calendar-arrow {
    border-top-color: white;
}

.mat-calendar-table-header{
    color: $fuchsia;
}
.mat-calendar-table-header-divider::after{
    color: $fuchsia;
}
.mat-calendar-body-selected{
    background-color: $yellow;
}