<form class="avatar-edit">
  <div class="user__avatar">
    <div class="avatar-edit__img-wrap" *ngFor="let avatar of avatars">
      <img tabindex="-1" (click)="changeAvatar(avatar._id)" class="avatar-edit__img" src={{avatar.url}}>
    </div>
  </div>
  
  <div class="user__password">
    <mat-form-field >
      <label for="password">Ändere dein Passwort</label>
      <input matInput type="text" name="password" ngDefaultControl [(ngModel)]="password">
    </mat-form-field>
    <div *ngIf="password">
      <mat-form-field >
          <label for="passwordRepeat">Widerhole dein Passwort</label>
        <input matInput type="text" name="passwordRepeat" ngDefaultControl [(ngModel)]="passwordRepeat">
      </mat-form-field>
      <span class="error__message" *ngIf="password != passwordRepeat">Passwörter stimmen nicht überrein</span>    
    </div>
  </div>
  <button class="avatar-edit__button" [mat-dialog-close] (click)="changePassword()">Bestätigen</button>
</form>
